.waterItem {
  display: flex;
  justify-content: space-between;
  width: 192px;
  height: 86px;
  padding: 20px;
  border-radius: 15px;
  background: #fff;
}

@media screen and (max-width: 768px) {
  .waterItem {
    width: 148px;
    height: 74px;
    padding: 18px 14px;
  }
}

.waterItem .indicators,
.waterItem .actions {
  display: flex;
  flex-direction: column;
}

.waterItem .actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.waterItem .actions button:first-child {
  margin-bottom: 4px;
}

.indicators .volume,
.indicators.time {
  font-family: "Poppins", sans-serif;
  line-height: 23px;
}

.indicators .volume {
  font-size: 15px;
  font-weight: 700;
  color: #323f47;
}

.indicators .time {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(47, 47, 47, 0.6);
}

.waterItem .actions .buttonDisabled {
  filter: grayscale(100%);
  cursor: not-allowed;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .indicators .volume{
    font-size: 13px;
  }
}