.userPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.title {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 20px;
}

.title span {
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .userPanel {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 36px;
    line-height: 1.05;
    margin-bottom: 0;
  }
}
