.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 40px 14px;
  width: 100%;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: opacity 0.3s;
}

.titleLogout {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 16px;
}

.textLogout {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 28px;
}

.boxForBtn {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
}

.btnLogout,
.btnCancel {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 100%;
  height: 46px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: rgba(50, 63, 71, 0.3);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btnLogout {
  background-color: #9be1a0;
  &:hover {
    background-color: #87d28d;
  }
}
.btnCancel {
  background-color: #f0eff4;
  &:hover {
    color: #323f47;
  }
}

@media screen and (min-width: 768px) {
  .modalContent {
    padding: 40px;
    width: 516px;
  }
  .titleLogout {
    font-size: 28px;
    line-height: 1.14;
    margin-bottom: 24px;
  }
  .textLogout {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 24px;
  }
  .boxForBtn {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .btnLogout,
  .btnCancel {
    width: 170px;
    height: 60px;
    font-size: 16px;
    line-height: 1.5;
  }
}
