.simplebar-content {
  height: 106px;
}

.simplebar-track {
  background: #fff;
  border-radius: 9px;
}

.simplebar-scrollbar {
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #323f47;
  border-radius: 8px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}

.simplebar-track.simplebar-horizontal {
  height: 8px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

@media screen and (min-width: 768px) {
  .simplebar-content {
    height: 118px;
  }
}
