.waterList {
  margin-bottom: 40px;
}

.waterItemsList {
  display: flex;
  gap: 8px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.06em;
  color: #2f2f2f;
}

@media screen and (min-width: 768px) {
  .waterItemsList {
    gap: 32px;
  }
  .text {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .waterItemsList {
    gap: 16px;
  }
}
