.waterDetailedInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 20px;
  background: #f0eff4;
  border-radius: 30px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .waterDetailedInfo {
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .waterDetailedInfo {
    width: 672px;
    height: 736px;
  }
}
