.waterMainButton {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  width: 140px;
  height: 46px;
  background-color: #323f47;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-align: center;
  align-items: center;
  color: #fff;
  position: absolute;
  bottom: 32px;
  right: 16px;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in-out;
  :disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.waterMainIcon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  stroke: white;
  transition: all 0.2s ease-in-out;
}

.waterMainButton:hover {
  color: #9be1a0;
}

.waterMainButton:hover .waterMainIcon {
  stroke: #9be1a0;
}

.waterDetailButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

.waterDetailIcon {
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  stroke: #323f47;
  background-color: #9be1a0;
  transition: all 0.2s ease-in-out;
}

.waterDetailButton:hover .waterDetailIcon {
  stroke: white;
  background-color: #323f47;
}

@media (min-width: 768px) {
  .waterMainButton {
    width: 178px;
    height: 60px;
    font-size: 16px;
    line-height: 1.5;
    bottom: 64px;
    right: 32px;
  }

  .waterMainIcon {
    width: 24px;
    height: 24px;
  }
}
