.addWaterBtn {

}

.addWaterBtn .btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.addWaterBtn .btnTxt{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #323F47;
    margin-left: 8px;
}
.addWaterBtn .iconPlus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #9BE1A0;
}