input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.userSettingsForm {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.userAvatarContainer {
  width: auto;
  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.uploadPhotoBtn {
  position: relative;
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.userAvatar {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  object-fit: cover;
}

.iconUser {
  width: 75px;
  height: 75px;
  color: rgb(73, 72, 72);
}

.btnIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.uploadPhotoSvg {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: #2f2f2f;
}

.fileInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.settingsForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 20px;
  overflow-y: auto;
  scrollbar-gutter: stable;
  margin-bottom: 40px;
}

.settingsForm::-webkit-scrollbar {
  width: 20px;
}

.settingsForm::-webkit-scrollbar-thumb {
  background-color: #f0eff4;
  border-radius: 30px;
  border: 7px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  cursor: pointer;
}

.settingsForm::-webkit-scrollbar-track {
  background: transparent;
}

.genderLegend {
  padding: 0;
  margin: 0;
  border: none;
}

.genderLegendText {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 14px;
}

.genderLabel {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.genderLabel:first-of-type {
  margin-right: 20px;
}

.genderInput::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid rgb(155, 225, 160);
}

.genderInput:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8.57px;
  height: 8.57px;
  border-radius: 50%;
  background-color: rgb(155, 225, 160);
  transform: translate(-50%, -50%);
  visibility: visible;
}

input[type="radio"] {
  position: relative;
  height: 20px;
  width: 20px;
  outline: none;
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.userInfoBoldLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #323f47;
}

.userInfoLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.userInfoField {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.userInfoField:active,
.userInfoField:focus {
  outline: none;
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.inputBox {
  position: relative;
}

.errorMessage {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: #ef5050;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
}

.errorInput {
  border: 1px solid #ef5050;
  color: #ef5050;
  transition: all 0.2s ease-in-out;
}

.inputTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #323f47;
}

.normaWaterContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.normaGenderTitle {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.greenText {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: #9be1a0;
}

.normaWaterTextContainer {
  padding: 16px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
}

.normaWaterText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.activeTimeContainer {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.inputText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.amountOfWaterText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  margin-bottom: 5px;
}

.saveBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  min-height: 46px;
  border-radius: 30px;
  background-color: #9be1a0;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #323f47;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}

.saveBtn:not(:disabled):hover {
  background-color: #87d28d;
}

.saveBtn:disabled {
  background-color: #e6e6e6;
  color: #bcbcbc;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .userAvatar,
  .iconUser {
    width: 100px;
    height: 100px;
  }

  .uploadPhotoSvg {
    width: 20px;
    height: 20px;
  }

  .settingsForm {
    padding-left: 40px;
  }

  .settingsForm::-webkit-scrollbar {
    width: 40px;
  }

  .settingsForm::-webkit-scrollbar-thumb {
    border: 16px solid rgba(0, 0, 0, 0);
  }

  .genderLegendText,
  .inputTitle,
  .userInfoBoldLabel {
    font-size: 18px;
    line-height: 1.33;
  }

  .genderLabel,
  .userInfoLabel,
  .greenText,
  .normaWaterText,
  .inputText,
  .normaGenderTitle,
  .amountOfWaterText {
    font-size: 16px;
    line-height: 1.5;
  }

  .userInfoField {
    padding: 16px;
    font-size: 16px;
    line-height: 1.5;
  }

  .amountOfWaterContainer {
    display: flex;
    gap: 5px;
  }

  .saveBtn {
    font-size: 16px;
    line-height: 1.5;
    width: 141px;
    min-height: 56px;
    margin-left: 40px;
  }

  .normaWaterContainer {
    flex-direction: row;
    gap: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .settingsForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 24px;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
  }

  .settingsForm > div:nth-child(4) {
    grid-row: 2;
  }
}
