.wrapper {
  width: 100%;
  padding: 40px 20px;
  text-align: left;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 24px;
}

@media screen and (min-width: 375px) {
  .wrapper {
    width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 518px;
    padding: 40px;
  }
  .title {
    font-size: 28px;
    line-height: 1.14;
    max-width: 347px;
  }
}
