.welcome_section {
  border-radius: 30px;
  position: relative;
  padding: 118px 16px 67px 16px;
  max-width: 343px;
  background-color: #f0eff4;
  min-height: 411px;
}

.text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.06em;
  color: #2f2f2f;
}

.h1 {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323f47;
}

.link_container {
  display: flex;
  gap: 10px;
}

.register_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 14px;
  padding-right: 14px;
  min-width: 116px;
  height: 46px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  border-radius: 30px;
  background: #9be1a0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 14px;
  padding-right: 14px;
  min-width: 104px;
  height: 46px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  border-radius: 30px;
  border: 1px solid #323f47;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login_btn:hover {
  border: 1px solid #87d28d;
  color: #87d28d;
}

.register_btn:hover {
  background-color: #87d28d;
}

@media screen and (min-width: 768px) {
  .welcome_section {
    max-width: 704px;
    padding: 106px 39px 50px 64px;
    min-height: 498px;
  }

  .text {
    font-size: 16px;
    line-height: 1.5;
  }

  .h1 {
    font-size: 64px;
    line-height: 1.09;
  }

  .link_container {
    gap: 16px;
  }

  .register_btn {
    font-size: 16px;
    line-height: 1.5;
    width: 169px;
    height: 60px;
  }

  .login_btn {
    font-size: 16px;
    line-height: 1.5;
    width: 135px;
    height: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .welcome_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 61px 64px 64px;
    max-width: 672px;
    min-height: 736px;
  }

  .h1 {
    font-size: 80px;
    line-height: 0.95;
  }
}
