.wrapper {
  width: 100%;
  padding: 40px 0px;
  text-align: left;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 20px;
  padding: 0px 20px;
}

@media screen and (min-width: 375px) {
  .wrapper {
    width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 648px;
  }
  .title {
    font-size: 28px;
    line-height: 1.14;
    padding: 0px 40px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 920px;
  }
}
