.wrapper {
  position: fixed;
  top: 5%;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 90%;
  width: 90%;
  overflow-y: auto;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  z-index: 1000;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 20px;
}

@media screen and (min-width: 375px) {
  .wrapper {
    width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 648px;
    padding: 40px;
  }
  .title {
    font-size: 28px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 920px;
    padding: 40px;
  }
}
