.container {
  position: absolute;
  top: 24px;
  right: 16px;
  z-index: 1000;
}

.dropdownButton,
.dropdownList {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: white;
  padding: 7px 15px;
  border: none;
  border-radius: 15px;
  background-color: #323f47;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.dropdownButton:hover,
.dropdownItem:hover {
  color: #9be1a0;
}

.dropdownList {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.dropdownItem {
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .container {
    top: 32px;
    right: 32px;
  }

  .dropdownButton {
    font-size: 15px;
    line-height: 1.49;
  }
}
