.monthInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.weekInfo {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.headingPanel {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #323f47;
}

.infoNav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttonMonth,
.buttonWeek {
  background: none;
  border: none;
  cursor: pointer;
}

.buttonMonth svg,
.buttonWeek svg {
  width: 20px;
  height: 20px;
}

.buttonMonth svg {
  opacity: 40%;
}

@media screen and (min-width: 768px) {
  .weekInfo {
    gap: 49px;
  }

  .subtitle {
    font-size: 28px;
    line-height: 1.14;
  }

  .buttonMonth svg,
  .buttonWeek svg {
    width: 24px;
    height: 24px;
  }
}
