.dailyInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.h2 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: #323f47;
}

@media screen and (max-width: 768px) {
  .h2 {
    font-size: 20px;
  }
}
