.dailyInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 158px;
}

