.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9be1a0;
}

.image {
  width: auto;
  height: 100%;
  object-fit: cover;
}
